{% extends 'base.html.twig' %}

{% block title %}Webarticles Admin{% endblock %}

{% block body %}
    <main class="container">
        <section id="posts" class="row">
            <div class="mt-4">
                <h2 class="display-4">Administration</h2><br>

                <table>
                    <thead>
                    <tr>
                        <th><b>Image</b></th>
                        <th><b>Titre</b></th>
                        <th><b>Catégorie</b></th>
                        <th><b>Date de parution</b></th>
                        <th><b>Supprimer</b></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for post in posts %}
                        <tr>
                            <td class="p-2"><img src="{{ asset('/img/posts/' ~ post.image) }}" class="post-image"></td>
                            <td class="p-2"><a href="{{ path('post', {id:post.id})}}">{{ post.title }}</a></td>

                            <td class="p-2">{{ post.category.name }}</td>
                            <td class="p-2">{{ post.createdAt|date("d/m/Y") }}</td>
                            <td  style="text-align: center;"><a href="{{ path('delete', {id:post.id}) }}"><i class="icofont-ui-delete" style="color: red;"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

{% endblock %}
