{% extends 'base.html.twig' %}

{% block title %}Team {{ parent() }}{% endblock %}

{% block body %}

    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container">
        <section id="team">
            <h2 class="my-5 text-black-50">Notre équipe</h2>
            <div class="row">
                <!-- TEAM CARD -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card">
                            <img class="card-img-top" src="{{asset('img/avatar/010f.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Alicia Pearl</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link"><i class="icofont-skype"></i></a>
                                <a href="#" class="card-link"><i class="icofont-email"></i></a>
                                <a href="#" class="card-link"><i class="icofont-linkedin"></i></a>
                                <a href="#" class="card-link"><i class="icofont-instagram"></i></a>
                                <a href="#" class="card-link"><i class="icofont-kickstarter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TEAM CARD -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card">
                            <img class="card-img-top" src="{{asset('img/avatar/018m.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Tim Turner</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link"><i class="icofont-skype"></i></a>
                                <a href="#" class="card-link"><i class="icofont-email"></i></a>
                                <a href="#" class="card-link"><i class="icofont-linkedin"></i></a>
                                <a href="#" class="card-link"><i class="icofont-instagram"></i></a>
                                <a href="#" class="card-link"><i class="icofont-kickstarter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TEAM CARD -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card">
                            <img class="card-img-top" src="{{asset('img/avatar/016m.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Patrick Simmons</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link"><i class="icofont-skype"></i></a>
                                <a href="#" class="card-link"><i class="icofont-email"></i></a>
                                <a href="#" class="card-link"><i class="icofont-linkedin"></i></a>
                                <a href="#" class="card-link"><i class="icofont-instagram"></i></a>
                                <a href="#" class="card-link"><i class="icofont-kickstarter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TEAM CARD -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card">
                            <img class="card-img-top" src="{{asset('img/avatar/014f.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Vanessa Lewis</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link"><i class="icofont-skype"></i></a>
                                <a href="#" class="card-link"><i class="icofont-email"></i></a>
                                <a href="#" class="card-link"><i class="icofont-linkedin"></i></a>
                                <a href="#" class="card-link"><i class="icofont-instagram"></i></a>
                                <a href="#" class="card-link"><i class="icofont-kickstarter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}